{% extends 'layouts/layout-manage-loggedOut.html' %}

{% block pageTitle %}
  You are now logged out
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
          You are now logged out
      </h1>
      
      {% if data.clientName === 'true' %}
        <p class="nhsuk-body-m">You have logged out of NHS login settings, but you may still be logged into <strong>CLIENT</strong>.</p>
      {% else %}
        <p class="nhsuk-body-m">You have logged out of NHS login settings, but you may still be logged into other websites or apps.</p>
      {% endif %}
      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
      {% if data.version === '1' %}
      <p class="nhsuk-body-m">If you are on a shared device close all windows before you leave.</p>
      {% elif data.version === '2' %}
      <p class="nhsuk-body-m">If you are on a shared device close any browser windows or tabs that are open before you leave.</p>
      {% else %}
      <p class="nhsuk-body-m"><strong>Before you leave</strong><br>If you are on a shared device,  close any browser windows or tabs that are open to keep your details secure.</p>
      {% endif %}
    
    </div>
      <p class="nhsuk-body-m">Visit <a href="https://www.nhs.uk/using-the-nhs/nhs-services/nhs-login/">NHS.UK for more information about NHS login</a></p>

    </div>

  </div>
{% endblock %}
