{% extends 'layouts/layout-manage-account-2.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Confirm changes to NHS record
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post" action="auth">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change phone number on NHS record</span>
            <h1 class="nhsuk-fieldset__heading">
              Confirm changes to NHS record
            </h1>
          </legend>

        <div class="nnhsuk-table-container">
          <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell"><b>Your current NHS login phone number</b></td>
                <td class="nhsuk-table__cell ">{{ data.phoneNumber or '07888364455' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>You will change the phone number on your NHS record to <strong>+447736251423</strong>.</p>

        <div class="nhsuk-u-padding-bottom-2"></div>
        
        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>

        <div class="nhsuk-u-padding-bottom-2"></div>
        <p><a href="/account/v8/contact-preferences/contact-preferences-mulitple-numbers" class="nhsuk-link">I do not want to change my phone number</a></p>
            
        </fieldset>

      </div>
    </form>


  </div>
</div>

{% endblock %}