{% extends 'layouts/layout.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Do you want to update the contact details on your GP record?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

  <form action="multiple-numbers/multiple-numbers-select" autocomplete="on">

    
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Do you want to update the contact details on your GP record?
          </h1>
        </legend>

        <p>These are the details your GP and other NHS services use to contact you. These are not the same as your NHS login details.</p>

        <div class="nhsuk-warning-text nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
            <span class="nhsuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="nhsuk-warning-text__text">
                <span class="nhsuk-warning-text__assistive">Important</span>
                You have more than one mobile phone number on your GP record
            </strong>
        </div>

        <div class="nhsuk-warning-text nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
            <span class="nhsuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="nhsuk-warning-text__text">
                <span class="nhsuk-warning-text__assistive">Important</span>
                Your GP record is missing an email address
            </strong>
        </div>

        <p>It will take <strong>1-2 minutes</strong>  to update the contact details on your GP record. </p>
        
        <br>
        <button class="nhsuk-button " id="button--save" href="#">Update my contact details</button>
        
        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p class="nhsuk-body">If now is not a good time, you can do this later on your 'Manage your account' page.</p>
          <p class="nhsuk-body">
            <a href="interrupt-skip-app" class="nhsuk-link"  title="Skip link">Skip this and take me to the NHS App</a>
          </p>
        </div>

      

  </fieldset>

  </form>

  </div>
</div>

{% endblock %}