{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
You have set up your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>You have set up your NHS login<br></p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <p>You set up your NHS login on 11 March 2022 when you used this service: Recap Health</p>
      <p>Your NHS login currently allows you to:</p>
      <ul>
        <li>view your health records</li>
        <li>book further COVID-19 tests</li>
        <li>access a range of health and care websites, apps and services with one set of login details</li>
      </ul>
      <p>If you choose to, you can also be matched to your NHS record or prove who you are and you will be able to do a lot more, such as:</p>
      <ul>
        <li>connect with your GP</li>
        <li>book appointments</li>
        <li>order repeat prescriptions</li>
      </ul>
      <p>To find out more about the services you can access with NHS login, visit: <a href="https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/">https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/</a></p>
      <h1 class="nhsuk-heading-s">Help with NHS login</h1>
      <ul>
        <li>If you need help registering or you are having technical issues visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a></li>
        <li>Change your NHS login details and password or delete your NHS login if you no longer want to use it: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
