{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
We are closing your NHS login account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>Subj: We are closing your NHS login account <br></p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <p>Hello</p>
      <p>As you have not logged in to your NHS login in the last 2 years, your account will be closed this month.</p>
      <p>Once your account has been closed, your data will be removed.</p>
      <p>You will need to create a new account and prove who you are if you want to use NHS login again.</p>
      <p>NHS login can be used to access a range of health and care websites and apps wherever you see the NHS login button. These allow you to view your health records, connect with your GP, book appointments and order repeat prescriptions.<br>To view all services using NHS login visit: <a href="https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/">https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/</a></p>
      
    </div>
  </div>

{% endblock %}
