{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
We are closing your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <p>We are closing your NHS login<br></p>
      <hr class="nhsuk-section-break nhsuk-section-break--m nhsuk-section-break--visible">
      <p>Dear Jonathan Kingston</p>
      <p>You have not logged into an online health service using your NHS login in the last 2 years.</p>
      <p>To keep your login details, you will need to access a service that uses NHS login. You need to do this within the next 30 days.</p>
      <p>You can use your NHS login to:</p>
      <ul>
        <li>view your health records</li>
        <li>connect with your GP</li>
        <li>book appointments</li>
        <li>order repeat prescriptions</li>
        <li>access a range of health and care websites, apps and services with one set of login details</li>
      </ul>
      <p>To find out more about the services you can access with NHS login, visit: <a href="https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/">https://www.nhs.uk/nhs-services/online-services/nhs-login/websites-and-apps-you-can-access-with-nhs-login/</a></p>
      <h1 class="nhsuk-heading-s">Help with NHS login</h1>
      <ul>
        <li>If you need help registering or you are having technical issues visit the NHS login help centre: <a href="https://help.login.nhs.uk/">https://help.login.nhs.uk/</a></li>
        <li>Change your NHS login details and password or delete your NHS login if you no longer want to use it: <a href="https://settings.login.nhs.uk/">https://settings.login.nhs.uk/</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
