{% extends 'layouts/layout-manage-account-2.html' %}

{% block pageTitle %}
  Manage your NHS account
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

  {{ backLink({
        "href": "/account/v8/contact-preferences/contact-preferences",
        "text": "Back to: Contact details on your NHS record"
      }) }}
      
    <div class="nhsuk-card nhsuk-card">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-l">
                You want to add an email address
              </h2>
              <p class="nhsuk-card__description">There may be a delay before your details are completely updated across all NHS services, like your GP surgery.</p>
              <a class="nhsuk-button" type="submit" href="no-email/no-email-use-login">
                Continue
              </a>
              <div class="nhsuk-u-padding-bottom-2"></div>
              <p><a href="/account/v8/contact-preferences/contact-preferences-no-email" class="nhsuk-link">I do not want to change my email address</a></p>
            </div>
          </div>

    </div>

  </div>

{% endblock %}

