{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/nhs-profile/index",
      text: "Home"
    }
  ],
  href: "/nhs-profile/your-gp/your-gp",
  text: "Your GP"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
          Your GP
      </h1>

      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>The Gardens Surgery</strong></td>
            <td class="nhsuk-table__cell ">The Gardens<br>London<br>SE22 9QU</td>
          </tr>
        </tbody>
      </table>

      <h3>GP connection details</h3>

      {{ table({
        panel: false,
        caption: "GP connection details",
        firstCellIsHeader: false,
        rows: [
          [
            {
              text: "Account linkage key"
            },
            {
              text: "gVAB gCc3 hADy4"
            }
          ],
          [
            {
              text: "Practice O.D.S. code"
            },
            {
              text: "HB5021"
            }
          ],
          [
            {
              text: "Account I.D."
            },
            {
              text: "9407001777"
            }
          ]
        ]
      }) }}

    </div>

  </div>
{% endblock %}
