{% extends 'layouts/layout-manage-account-2.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
  

  {{ backLink({
        "href": "no-email-use-login",
        "text": "Back to: We have more than one mobile number for you"
      }) }}


    <form method="post" action="auth">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change email address on NHS record</span>
            <h1 class="nhsuk-fieldset__heading">
              Check your contact details
            </h1>
          </legend>

        <div class="nnhsuk-table-container">
          <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><b>Your chosen mobile phone number</b></td>
                <td class="nhsuk-table__cell ">{{ data.mobile-number or '07888364455' }}</td>
                <td class="nhsuk-table__cell "><a href="multiple-numbers-select">Change mobile phone number for NHS record</a></td>
              </tr>
              <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell"><b>Your current NHS login email address</b></td>
                <td class="nhsuk-table__cell ">{{ data.email-address or 'jonkingston@gmail.com' }}</td>
                <td class="nhsuk-table__cell "><a href="multiple-numbers-select">Change email address for NHS record</a></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>These changes will not affect your NHS login details.</p>

        <div class="nhsuk-u-padding-bottom-2"></div>
        
        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>

        <div class="nhsuk-u-padding-bottom-2"></div>

        <a href="#" class="nhsuk-link">Cancel and take me to the NHS App</a>
            
        </fieldset>

      </div>
    </form>

  </div>
</div>

{% endblock %}