{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Do you want to add your NHS login email address to your NHS record?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "/account/v8/contact-preferences/interrupt-journey/multiple-numbers/multiple-numbers-select?",
        "text": "We have more than one mobile phone number for you"
      }) }}

      <form method="POST">

        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                  <h1 class="nhsuk-fieldset__heading">
                    Your NHS record is missing a contact email address
                  </h1>
            </legend>

            <p class="nhsuk-body-m">You use <strong>{{ data.emailAddress or 'jonkingston@gmail.com' }}</strong> for your NHS login. You can add this to your NHS record. This means your GP and other NHS services may use it to contact you.</p>

            <h2 class="nhsuk-heading-m">Do you want to add the email address you use for your NHS login?</h2>

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="yes" name="use-nhs-login" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="use-nhs-login">
                  Yes
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="no" name="use-nhs-login" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="use-nhs-login">
                  No
                </label>
              </div>

            </div>

          </fieldset>

        </div>

        <button class="nhsuk-button" type="submit">
          Continue
        </button>

      </form>
      
      
      <div class="nhsuk-u-padding-bottom-4"></div>

      <p class="nhsuk-body">
        <a href="../interrupt-skip-app" class="nhsuk-link"  title="Skip link">Cancel and take me to the NHS App</a>
      </p>

    </div>

  </div>
{% endblock %}
