{% extends 'layouts/layout-manage-account-settings.html' %}

{% block pageTitle %}
  You want to update your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

  {{ backLink({
        "href": "/account/v8/contact-preferences-account/contact-preferences",
        "text": "Back to: Contact details on your GP record"
      }) }}
      
              <h2 class="nhsuk-heading-l">
                You want to update your email address
              </h2>
              <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                There may be a delay
              </span>
            </h3>
            <p>This is because some NHS services, such as your GP surgery, may not see your request to update your email address straight away.</p>
            <p>If you're waiting for an important message from an NHS service you can contact them directly to update your email address.</p>
          </div>
              <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="add-new-email/email-change">
                Continue
              </a>
              <div class="nhsuk-u-padding-bottom-2"></div>
              <br><p><a href="/account/v8/contact-preferences-account/contact-preferences" class="nhsuk-link">I do not want to change my email address</a></p>
            </div>
          </div>

    </div>

  </div>

{% endblock %}

