{% extends 'layouts/layout-manage-account-settings.html' %}

{% block pageTitle %}
  You want to update your mobile phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

  {{ backLink({
        "href": "/account/v8/contact-preferences-account/contact-preferences",
        "text": "Back to: Contact details on your NHS record"
      }) }}

              <h2 class="nhsuk-heading-l">
                You want to update your mobile phone number
              </h2>
              <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                There may be a delay
              </span>
            </h3>
            <p>This is because some NHS services, such as your GP surgery, may not see your request to update your mobile phone number straight away.</p>
            <p>If you're waiting for an important phone call from an NHS service you can contact them directly to update your mobile phone number.</p>
          </div>
              <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="phone-change">
                Continue
              </a>
              <br><br>
              <p>
                <a href="/account/v8/contact-preferences-account/contact-preferences" class="nhsuk-link">I do not want to change my phone number</a>
              </p>

      <!--
      {% if data['devMode'] %}
      <details class="nhsuk-details dev-mode" role="group">
        <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
          <span class="nhsuk-details__summary-text">
            Continue with testing scenario
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>Recovery</p>
          <ul>
            <li><a href="{{ params }}?has-recovery-email=1">User has recovery email</a></li>
          </ul>
        </div>
      </details>

      {% endif %}
      -->

    </div>

  </div>

{% endblock %}

