{% extends 'layouts/layout-manage-account-settings.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change phone number on NHS record</span>
            <h1 class="nhsuk-fieldset__heading">
              We have saved your contact details to your NHS record
            </h1>
          </legend>

          <p>The mobile phone number on your NHS record has been changed to <strong>{{ data.mobileNumber or '07888364455' }}</strong>.

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Potential delays
              </span>
            </h3>
            <p>There may be a delay before your details are updated across all NHS services, like your GP surgery.</p>
            <p>If you are expecting an important phone call or email from an NHS service, you may wish to contact them directly to update your details.</p>
          </div>

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h2 class="nhsuk-fieldset__heading">                
                    Would you like to update your NHS login with this email?
                  </h2>
            </legend>
            <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="yes" name="update-details-radio" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="no" name="update-details-radio" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="no">
                    No, go back to settings
                  </label>
                </div>

            </fieldset>
            </div>

          </div>
          <div class="nhsuk-u-padding-bottom-2"></div>
            <!-- href="check-your-details" -->
            <button class="nhsuk-button" type="submit">
              Continue
            </button>
                
            </fieldset>

          </div>
        </form>

  </div>
</div>

{% endblock %}