{% extends 'layouts/layout-manage-account-settings.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
We have saved your mobile phone number to your GP record
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change phone number on GP record</span>
            <h1 class="nhsuk-fieldset__heading">
              You have requested to update your GP record contact details
            </h1>
          </legend>

          <p>The mobile phone number you want to use is  <strong>{{ data.mobileNumber or '07888364455' }}</strong>.

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>There may be a delay before NHS services start using your updated contact details.</p>
            <p>Contact your GP surgery or hospital if you need to update your contact details urgently.</p>
          </div>

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h2 class="nhsuk-fieldset__heading">                
                    Do you want to use the same mobile phone number for your NHS login?
                  </h2>
            </legend>

            <div class="nhsuk-hint" id="contact-hint">
              Your NHS login gives you access to health apps and services.
            </div>
            <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset">

              <div class="nhsuk-radios">
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="yes" name="update-details-radio" type="radio" value="yes">
                  <label class="nhsuk-label nhsuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="no" name="update-details-radio" type="radio" value="no">
                  <label class="nhsuk-label nhsuk-radios__label" for="no">
                    No, go back to settings
                  </label>
                </div>

            </fieldset>
            </div>

          </div>
          <div class="nhsuk-u-padding-bottom-2"></div>
            <!-- href="check-your-details" -->
            <button class="nhsuk-button" type="submit">
              Continue
            </button>
                
            </fieldset>

          </div>
        </form>

  </div>
</div>

{% endblock %}