{% extends 'layouts/layout-manage-account-settings-2.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Check your details
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post" action="/account/v8/contact-preferences-account/contact-preferences">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change phone number on GP record</span>
            <h1 class="nhsuk-fieldset__heading">
              You have requested to update your GP record contact details
            </h1>
          </legend>

          <p>The mobile phone number you want to use is <strong>{{ data.mobileNumber or '07888364455' }}</strong>.

          <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>There may be a delay before NHS services start using your updated contact details.</p>
            <p>Contact your GP surgery or hospital if you need to update your contact details urgently.</p>
          </div>

        <button class="nhsuk-button" type="submit">
          Go back to settings
        </button>
            
        </fieldset>

      </div>
    </form>

  </div>
</div>

{% endblock %}