{% extends 'layouts/layout-manage-account-2.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Confirm changes to NHS record
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post" action="auth">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change email address on NHS record</span>
            <h1 class="nhsuk-fieldset__heading">
              Confirm changes to NHS record
            </h1>
          </legend>
          <p><b>You have chosen to change your email address to</b></p>
          <div class="nhsuk-table-responsive.user-info-table">
            <table class="nhsuk-table-responsive">
              <tbody class="nhsuk-table__body">
                <tr class="nhsuk-table__row">
                <!--  <td class="nhsuk-table__cell"><b>Your chosen mobile phone number</b></td> -->
                  <td class="nhsuk-table__cell ">{{ data.email-address or 'jonkingston@gmail.com' }}</td>
                 <!-- <td class="nhsuk-table__cell "><a href="#">Change mobile phone number</a></td>-->
                </tr>
              </tbody>
            </table>
          </div>
          
        <br>

        <p>You will change the email address on your NHS record to <strong>jonkingston@gmail.com</strong>.</p>

        <div class="nhsuk-u-padding-bottom-2"></div>
        
        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>

        <div class="nhsuk-u-padding-bottom-2"></div>
        <p><a href="/account/v8/contact-preferences/contact-preferences-no-email" class="nhsuk-link">I do not want to change my email address</a></p>
            
        </fieldset>

      </div>
    </form>

  </div>
</div>

{% endblock %}