{% extends 'layouts/layout-manage-account-settings.html' %}

{% from 'button/macro.njk' import button %}
{% from 'back-link/macro.njk' import backLink %}

{% block pageTitle %}
Confirm changes to GP record
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <form method="post" action="auth">
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change email address on GP record</span>
            <h1 class="nhsuk-fieldset__heading">
              Confirm changes to GP record
            </h1>
          </legend>

        <div class="nnhsuk-table-container">
          <table class="nhsuk-table">
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell"><b>Your current NHS login email address</b></td>
                <td class="nhsuk-table__cell ">{{ data.emailAddress or 'alex.taylor@hotmail.com' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>You will change the email address on your GP record to <strong>alextaylor@gmail.com</strong>.</p>

        <div class="nhsuk-u-padding-bottom-2"></div>
        
        <button class="nhsuk-button" type="submit">
          Save and continue
        </button>

        <div class="nhsuk-u-padding-bottom-2"></div>
        <p><a href="/account/v8/contact-preferences-account/contact-preferences" class="nhsuk-link">I do not want to change my email address</a></p>
            
        </fieldset>

      </div>
    </form>



  </div>
</div>

{% endblock %}