{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/nhs-profile/index",
      text: "Home"
    }
  ],
  href: "/nhs-profile/health-profiles/health-profiles",
  text: "People you care for"
}) }}
{% endblock %}

{% block content %}

  <style>

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    width: 45px;
    height: 45px;
  }

  figure img {
    width: 100%;
    height: auto;
  }

  img {
    display:block;
    border-radius: 50%;
  }

  </style>

      

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        People you care for
      </h1>


      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col"></th>
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Relationship</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/avatar-alma.png" alt="Alma Wheatley">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Alma Wheatley</a></td>
              <td class="nhsuk-table__cell ">Mother</td>
              <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/blue-dot.svg" alt="Bobby Harmon">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Bobby Harmon</a></td>
              <td class="nhsuk-table__cell ">Husband</td>
              <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/blue-dot.svg" alt="Judit Harmon">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Judit Harmon</a></td>
              <td class="nhsuk-table__cell ">Daughter</td>
              <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/blue-dot.svg" alt="Ophelia Frump">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Magnus Harmon</a></td>
              <td class="nhsuk-table__cell ">Son</td>
              <td class="nhsuk-table__cell"><a href="#">Remove</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="profile-add">
        Add someone you care for
      </a>

    </div>
  </div>
{% endblock %}
