{% extends 'layouts/layout-manage-account.html' %}

{% block pageTitle %}
  Enter your password to change your phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span class="nhsuk-hint  nhsuk-u-margin-bottom-2">Change phone number on NHS record</span>
              <h1 class="nhsuk-fieldset__heading">
                Enter your password
              </h1>
            </legend>

      <p class="nhsuk-body-m nhsuk-hint">We need to make sure it's you before you can change your phone number.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="current-password">
          Current password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="current-password" name="current-password" type="text">
      </div>

      <a class="nhsuk-button" type="submit" href="phone-change-number">
        Continue
      </a>

      <div class="nhsuk-u-padding-bottom-2"></div>
      <p><a href="/account/v8/contact-preferences/contact-preferences" class="nhsuk-link">I do not want to change my phone number</a></p>

    </div>

  </div>
{% endblock %}
