{% extends 'layouts/layout-manage-account.html' %}

{% block pageTitle %}
  Your phone number has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Phone number changed 
      </h1>

      <p class="nhsuk-body">Your phone number has been changed to {{ data['phone-number']}}</p>

      <div class="nhsuk-u-padding-bottom-2"></div>
      <p><a href="/account/v8/login-settings" class="nhsuk-link">Back to: Your NHS login details</a></p>

    </div> 

  </div>
{% endblock %}