{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Your profile
{% endblock %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/nhs-profile/index",
      text: "Home"
    }
  ],
  href: "/nhs-profile/profile/profile",
  text: "Your profile"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
          Your profile
      </h1>

      <h2>
      Beth Harmon
      </h2>

      <h3>
      Your personal record
      </h3>

      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>Full name</strong></td>
            <td class="nhsuk-table__cell ">Beth Harmon</td>
            <td class="nhsuk-table__cell "><a href="#">Suggest correction<a/></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>Date of birth</strong></td>
            <td class="nhsuk-table__cell ">2 November 1984</td>
            <td></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>NHS number</strong></td>
            <td class="nhsuk-table__cell ">485 777 3456</td>
            <td></td>
          </tr>
        </tbody>
      </table>


      <h3>
      How we contact you
      </h3>

      <p>
      You’re contact number is the same as the number attached to your account.
      </p>

      <table class="nhsuk-table">
        <tbody class="nhsuk-table__body">
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>Address</strong></td>
            <td class="nhsuk-table__cell ">62 Mill Road<br>London<br>E42 1RB</td>
            <td class="nhsuk-table__cell "><a href="#">Change address<a/></td>
          </tr>
          <tr role="row" class="nhsuk-table__row">
            <td class="nhsuk-table__cell"><strong>Phone number</strong></td>
            <td class="nhsuk-table__cell ">••••••••487</td>
            <td class="nhsuk-table__cell "><a href="#">Change contact number<a/></td>
          </tr>
        </tbody>
      </table>

      <h3>Organ donation preferences</h3>

      <p>Help save thousands of lives in the UK every year by signing up to become a donor on the NHS Organ Donor Register</p>

      <p>
        <a href="#">Register your decision</a>
      </p>

      <hr>

      <h3>Data sharing preferences</h3>

      <p>Find out how the NHS uses your confidential patient information and choose whether or not it can be used for research and planning.</p>

      <p>
        <a href="#">How your data is used</a>
      </p>

      <hr>

      <h3>Profile picture</h3>

      <style>

      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

      figure {
        width: 100px;
        height: 100px;
      }

      figure img {
        width: 100%;
        height: auto;
      }

      img {
        display:block;
        border-radius: 50%;
      }

      </style>

      <figure>
        <img src="/images/avatar-beth.png" alt="Your profile picture">
      </figure> 
    

      <p>
        <a href="#">Change your profile picture</a>
      </p>

    </div>

  </div>
{% endblock %}
